.sf-menu li a,
.sf-menu li a:visited {
    background: url("images/menu-sep.png") center right no-repeat;
    width: 100px;
    line-height: 17px;
}
.sf-menu li{
    height: auto !important;
}

.slider_content h1 {
    font-size: 44px !important;
    margin-top: -35px !important;
    line-height: 55px !important;
}

.copyright_area {
    padding: 0 0 25px 0 !important;
    margin-top: 0 !important;
}
.copyright_left img {
    margin-top: -5px !important;
}
.copyright_right {
    width: 700px !important;
}

body * {
    font-family: 'Open Sans', sans-serif;
}