.sf-menu li a,
.sf-menu li a:visited {
    background: url("images/menu-sep.png") center right no-repeat;
    width: 100px;
    line-height: 17px;
}
.sf-menu li{
    height: auto !important;
}

.slider_content h1 {
    font-size: 44px;
    margin-top: -35px;
    line-height: 55px;
}

.copyright_area {
    margin-top: 0;
}
.copyright_left img {
    margin-top: -10px;
}
.copyright_right {
    width: 700px;
}