/* --- responsive mode disabled --- */
@media screen and (max-width:1009px)
{
	.site_container,
	.caroufredsel_wrapper_slider,
	.slider li,
	.footer
	{
		width: 990px;
	}
	/* --- VISUAL COMPOSER --- */
	.vc_row-fluid [class*="vc_span"]:first-child 
	{
		margin-left: 0 !important;
	}
	.vc_row-fluid [class*="vc_span"] 
	{
		margin-left: 30px !important;
	}
	.vc_responsive div.vc_row-fluid div[class*="vc_span"]
	{
		float: left !important;
	}
	.vc_row-fluid .vc_span12 
	{
		width: 100% !important;
	}
	.vc_row-fluid .vc_span8 
	{
		width: 650px !important;
	}
	.vc_row-fluid .vc_span6 
	{
		width: 480px !important;
	}
	.vc_row-fluid .vc_span4 
	{
		width: 310px !important;
	}
}